<div class="col-lg-6">
    <div class="card">
        <div class="card-header">
            <i class="fa fa-align-justify"></i> Yearly Leave Taken
        </div>
        <div class="card-body">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Username</th>
                        <th>Date registered</th>
                        <th>Role</th>
                        <th>Status</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Yiorgos Avraamu</td>
                        <td>2012/01/01</td>
                        <td>Member</td>
                        <td>
                            <span class="badge badge-success">Accepted</span>
                        </td>
                    </tr>
                    <tr>
                        <td>Avram Tarasios</td>
                        <td>2012/02/01</td>
                        <td>Staff</td>
                        <td>
                            <span class="badge badge-danger">Rejected</span>
                        </td>
                    </tr>
                    <tr>
                        <td>Quintin Ed</td>
                        <td>2012/02/01</td>
                        <td>Admin</td>
                        <td>
                            <span class="badge badge-success">Accepted</span>
                        </td>
                    </tr>
                    <tr>
                        <td>Enéas Kwadwo</td>
                        <td>2012/03/01</td>
                        <td>Member</td>
                        <td>
                            <span class="badge badge-success">Accepted</span>
                        </td>
                    </tr>
                    <tr>
                        <td>Agapetus Tadeáš</td>
                        <td>2012/01/21</td>
                        <td>Staff</td>
                        <td>
                            <span class="badge badge-success">Accepted</span>
                        </td>
                    </tr>
                </tbody>
            </table>
            <!-- <ul class="pagination">
                <li class="page-item"><a class="page-link" href="#">Prev</a></li>
                <li class="page-item active">
                    <a class="page-link" href="#">1</a>
                </li>
                <li class="page-item"><a class="page-link" href="#">2</a></li>
                <li class="page-item"><a class="page-link" href="#">3</a></li>
                <li class="page-item"><a class="page-link" href="#">4</a></li>
                <li class="page-item"><a class="page-link" href="#">Next</a></li>
            </ul> -->
        </div>
    </div>
</div>

<div class="col-sm-6 col-md-4">
    <div class="card">
        <div class="card-header">
            Leave Balances
        </div>
        <div class="card-body">
            <p-chart type="doughnut" [data]="data" [options]="chartOptions" [style]="{'width': '1%'}"></p-chart>
            <div class="d-grid gap-2">
                <button pButton pRipple label="Add Leave Request" icon="pi pi-cloud-download" class="p-button-sm"
                    iconPos="right" routerLink='/dashboard/addleave'></button>
            </div>
        </div>
    </div>
</div>