<body>
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="card">
                    <div class="text-center">
                        <h2>Find Your Account</h2>
                        <h6>Enter the email address associated with your accoun and we'll send you a link to reset your
                            password</h6>
                    </div>

                    <form [formGroup]="ForgotForm" (ngSubmit)="onSubmit()">
                        <div class="mb-3">
                            <label for="exampleInputEmail1" class="form-label">Email</label>
                            <input type="email" class="form-control" id="exampleInputEmail1"
                                aria-describedby="emailHelp" placeholder="Enter your email address or mobile number"
                                formControlName="emailId">
                            <!-- <div
                                *ngIf="(ForgotForm.get('emailId')?.touched || isSubmitted) && ForgotForm.get('emailId')?.invalid">
                                <span id="emailHelp" class="form-text"
                                    *ngIf="ForgotForm.get('emailId')?.hasError('required')">*Email is Required
                                    field</span>
                                <span id="emailHelp" class="form-text"
                                    *ngIf="ForgotForm.get('emailId')?.hasError('pattern')">*Email is not Correct</span>
                            </div> -->

                        </div>
                        <button pButton pRipple type="submit" label="Continue" class="p-button-raised" iconPos="right"
                            routerLink="/login"><i class="pi pi-send"></i></button>

                        <!-- <button pButton pRipple type="submit" label="Send Email" class="p-button-raised"
                            iconPos="right"><i class="pi pi-send"></i></button> -->

                    </form>
                    <div style="color:#fff ; margin-left: 250px ;margin-bottom:-10px" routerLink='/login'>Did you
                        Remembered ??<a routerLink='/login'>Click Here</a></div>
                </div>
            </div>
        </div>
    </div>
</body>