<div>
    <div class = "table-container">
        <h1 class="heading">Yearly Holidays</h1>
        <table class ="table">  
            <thead>
                <tr>
                    <th>sr no.</th>
                    <th>Date</th>
                    <th>Days</th>
                    <th>Holiday</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td data-label="sr no.">1</td>
                    <td data-label="Date">14/01/2022-<br>15/01/2022</td>
                    <td data-label="Days">2</td>
                    <td data-label="Holiday">Makar Sankranti</td>
                </tr>
                <tr>
                    <td data-label="sr no.">2</td>
                    <td data-label="Date">26/01/2022</td>
                    <td data-label="Days">1</td>
                    <td data-label="Holiday">Republic Day</td>
                </tr>
                <tr>
                    <td data-label="sr no.">3</td>
                    <td data-label="Date">01/03/2022</td>
                    <td data-label="Days">1</td>
                    <td data-label="Holiday">Maha Shivratri</td>
                </tr>
                <tr>
                    <td data-label="sr no.">4</td>
                    <td data-label="Date">18/03/2022</td>
                    <td data-label="Days">1</td>
                    <td data-label="Holiday">Holi</td>
                </tr>
                <tr>
                    <td data-label="sr no.">5</td>
                    <td data-label="Date">10/04/2022</td>
                    <td data-label="Days">1</td>
                    <td data-label="Holiday">Ram Navami</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
