<form [formGroup]="LeaveForm" (ngSubmit)="onSubmit()">
    <div class="mb-3">
        <label for="exampleInputEmail1" class="form-label">Employee Id</label>
        <input type="number" class="form-control" placeholder="Enter Your Employee Id" formControlName="empId">
    </div>
    <div>
        <label>Leave Type :</label>
        <select formControlName="leaveT" [value]="type" (input)="onChange($any($event.target).value)">
            <option *ngFor="let l of leaveType" [value]="(l.id)">{{l.name}}</option>
        </select>
        <div>


            <div class="mb-3" *ngIf="(type == 1)">Date :

            </div>


            <div class="mb-3" *ngIf="(type == 2)">Date :

            </div>


            <div class="mb-3" *ngIf="(type == 3)">Date :

            </div>




        </div>
        <div>
            <label>Reason: </label>
            <input type="text" class="text" formControlName="reason" placeholder="Give Me A Reason">
        </div>

        <div><label>Approving Person: </label>
            <select formControlName="approvP">
                <option [value]="">Select</option>
                <option *ngFor="let a of apperson">{{a.name}}</option>
            </select>
        </div>

        <div><label> Notify other Persons: </label>
            <select formControlName="notifyMe">
                <option [value]="">Select</option>
                <option *ngFor="let n of notperson ">{{n.name}}</option>
            </select>
        </div>

        <button type="submit">Add Leave</button>

    </div>
</form>